html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Exo';
    box-sizing: border-box;
    letter-spacing: 0.73px;
}

/*variables*/

$color-btn: #CC2229;
$color-advert: #6E61F5;



/*common*/

.logo {
    display: inline-block;
    max-width: 150px;

    img {
        width: 100%;
    }

    &_big {
        max-width: 170px;
    }

    &_small {
        max-width: 120px;
    }
}

.btn {
    padding: 10px 25px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFFFFF;
    border-radius: 5px;
    background-color: $color-btn;
    border: 3px solid $color-btn;

    &:hover {
        background-color: #fff;
        opacity: 0.8;
        transition: 200ms all;
        color: $color-btn;
        box-shadow: inset 0px 0px 2px 1px $color-btn;
    }
}

.btn-submit {
    font-size: 18px;
    font-weight: 700;
    text-transform: none;
    width: 100%;
    padding: 10px 0;
    border: 3px solid $color-btn;
}

.login {
    display: inline-block;
    color: #575C6B;
    text-decoration: underline;
    font-weight: 700;
    text-align: center;
    line-height: 30px;
    font-size: 10px;

    &:hover {
        font-weight: 600;
        color: $color-btn;
        transition: 100ms all;
    }
}

.burger {
    display: none;
    position: relative;
    width: 36px;
    height: 36px;
    border-radius: 5px;

    &::before {
        position: absolute;
        top: 6px;
        left: calc(50% - 40%);
        content: '';
        width: 80%;
        height: 3px;
        background-color: #999;
        box-shadow: 0 10px 0px 0px #999;
    }

    &::after {
        position: absolute;
        bottom: 6px;
        left: calc(50% - 40%);
        content: '';
        width: 80%;
        height: 3px;
        background-color: #999;
    }

    &:hover {
        background-color: #fff;
    }

    &:hover::before {
        width: 100%;
        transform: translateX(-5px) translateY(10px) rotate(45deg);
        box-shadow: none;
        background-color: #999;
        transition: all 150ms;

    }

    &:hover::after {
        width: 100%;
        transform: translateX(-5px) translateY(-10px) rotate(-45deg);
        background-color: #999;
        transition: all 150ms;
    }
}


@media screen and (max-width: 991px) {
    .logo {
        max-width: 120px;
    }
}

@media screen and (max-width: 767px) {
    .login {
        display: none;
    }
    .burger {
        display: block;
    }
}



/*common blocks*/


.list-icon {
    &__item {
        position: relative;
        display: flex;
        max-width: 450px;
        padding-left: 50px;
        padding-bottom: 15px;

        &_small {
            width: 100%;
            padding-left: 30px;
        }
    }

    &__icon {
        position: absolute;
        left: 0;
        top: 0;
    }

    &__text {
        font-size: 18px;

        &_small {
            font-size: 16px;
        }
    }
}


.content {
    margin-bottom: 15px;
    color: #575C6B;

    &__desribe {
        font-size: 16px;
        margin-bottom: 15px;

        &_bold {
            font-weight: 500;
            padding-bottom: 10px;
            width: 60%;
        }
    }
}

.links {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    &__item {
        margin: 15px 20px;

        &:hover {
            transform: scale(1.05);
            transition: 100ms;
        }
    }
}

@media screen and (max-width: 575px) {
    .list-icon {
        // max-width: 300px;

        &__item {
            padding-left: 30px;
        }

        &__text {
            font-size: 16px;

            &_small {
                font-size: 14px;
            }
        }
    }

    .content {
        &__desribe {
            font-size: 14px;
        }
    }
}




/*common titles*/

.notice {
    font-size: 22px;
    font-weight: 700;
    line-height: 50px;
    padding-left: 40px;
}

.title {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    color: #FF7700;
    line-height: 38px;

    &_grey {
        color: #575C6B;
    }

    &_white {
        color: #fff;
    }

    &_medium {
        font-size: 28px;
    }
}

.subtitle {
    font-size: 24px;
    text-align: left;
    padding: 15px 0;
}


@media screen and (max-width: 991px) {
    .title {
        font-size: 30px;
    }

    .subtitle {
        font-size: 20px;
    }
}

@media screen and (max-width: 575px) {
    .title {
        font-size: 24px;
    }

    .subtitle {
        font-size: 18px;
    }
}





/*navigation*/

.nav {
    height: 80px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);

    .container {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }
}

.menu {
    display: flex;

    &__item {
        text-decoration: none;
        margin-left: 50px;
        font-size: 10px;
        color: #575C6B;

        &:hover {
            font-weight: 600;
            color: $color-btn;
            transition: 100ms all;
        }
    }
}

.buttons-menu {
    display: inline-flex;
    justify-content: flex-end;
    line-height: 65px;
}

.buttons {

    &__start {
        margin: 0 35px;
    }
}


@media screen and (max-width: 1200px) {
    .menu {

        &__item {
            margin-left: 20px;
        }
    }

    .buttons {
        &__start {
            margin: 0 20px;
        }
    }
}

@media screen and (max-width: 991px) {
    .menu {
        &__item {
            margin-left: 10px;
        }
    }

    .buttons {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
}

@media screen and (max-width: 767px) {
    .menu {
        display: none;
    }
}



/*section header*/


.header {
    position: relative;
    padding-top: 40px;


    &__list {
        padding-bottom: 30px;
    }
}

@keyframes picture {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0.25;
    }

    50% {
        opacity: 0.5;
    }

    75% {
        opacity: 0.75;
    }

    100% {
        opacity: 1;
    }
}

.image {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 750px;
    z-index: -5;
    animation-name: picture;
    animation-duration: 1s;

    &__photo {
        img {
            width: 100%;
        }
    }

    &__bg {
        position: absolute;
        top: 20%;
        right: 0;
        z-index: -1;

        img {
            width: 100%;
        }
    }
}

.headline {
    max-width: 740px;
    padding: 40px 0;
    font-size: 54px;
    font-weight: 700;
    line-height: 72px;
    color: #575C6B;
}


@media screen and (max-width: 1200px) {
    .headline {
        max-width: 470px;
        font-size: 40px;
        line-height: 55px;
    }
}

@media screen and (max-width: 991px) {
    .header {
        padding-top: 0;
    }
}

@media screen and (max-width: 767px) {
    .headline {
        font-size: 35px;
    }

    .header {
        &__list {
            max-width: 400px;
        }

        .image {
            &__photo {
                width: 50%;
                margin-left: auto;
            }

            &__bg {
                top: 100px;
                width: 70%;
            }
        }
    }
}

@media screen and (max-width: 575px) {
    .headline {
        font-size: 24px;
        line-height: 35px;
    }

    .header {
        &__list {
            font-size: 14px;
            padding-bottom: 0;
            width: 60%;
        }

        .image {
            &__photo {
                width: 40%;
            }
        }
    }

    .fa-flag:before {
        font-size: 16px;
    }
}


/*header form*/

.form {
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: 1050px;
    margin: 0 auto;
    margin-top: 60px;
    color: #fff;
    background: linear-gradient(317.76deg, #FFA600 40.02%, #FF7800 68.68%, #FF6D00 83.15%);
    padding: 40px 40px 15px 40px;
    font-size: 18px;
    border-radius: 10px;
    border-top-left-radius: 0;

    &__notice {
        position: absolute;
        bottom: 100%;
        left: 0;
        width: 215px;
        height: 60px;
        background-color: #FF6D00;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    &__advert {
        position: absolute;
        bottom: 100%;
        left: 210px;
    }

    &__choice {
        width: 50%;
        padding-right: 15px;
    }
}

.advert {
    display: flex;
    height: 60px;
    font-size: 18px;
    filter: drop-shadow(2px 4px 2px rgb(46, 46, 46));

    &__guarantee {
        position: relative;
        display: flex;
        align-items: center;
        max-width: 500px;
        background-color: #6E61F5;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;

        &::before {
            content: "";
            position: absolute;
            left: 100%;
            bottom: 0;
            height: 0;
            border-left: 25px solid #6E61F5;
            border-top: 15px solid transparent;
            border-bottom: 15px solid #6E61F5;
            border-right: 25px solid transparent;
        }

        &::after {
            content: "";
            position: absolute;
            left: 100%;
            top: 0;
            height: 0;
            border-left: 25px solid #6E61F5;
            border-top: 15px solid #6E61F5;
            border-bottom: 15px solid transparent;
            border-right: 25px solid transparent;
        }
    }

    &__per {
        position: relative;
        font-size: 43px;
        padding-right: 10px;
        padding-left: 15px;

        &::after {
            content: "";
            position: absolute;
            top: calc(12%);
            right: 0;
            width: 2px;
            height: 75%;
            background-color: #fff;
        }
    }

    &__condition {
        padding-left: 10px;
    }

    &__price {
        position: absolute;
        left: calc(100% + 50px + 50px);
        width: 100px;
        background-color: #6E61F5;
        font-size: 35px;
        text-align: center;
        line-height: 17px;
        padding: 10px 0;

        &::before {
            content: "";
            position: absolute;
            right: 100%;
            bottom: 0;
            height: 0;
            border-left: 25px solid transparent;
            border-top: 16px solid #6E61F5;
            border-bottom: 16px solid transparent;
            border-right: 25px solid #6E61F5;
        }

        &::after {
            content: "";
            position: absolute;
            right: 100%;
            top: 0;
            height: 0;
            border-left: 25px solid transparent;
            border-top: 15px solid transparent;
            border-bottom: 15px solid #6E61F5;
            border-right: 25px solid #6E61F5;
        }

        span {
            text-transform: uppercase;
            font-size: 14px;
        }
    }
}


.choice {
    &__item {
        margin-bottom: 30px;
    }

    &__notice {
        display: none;
    }
}

.choice-item {
    &__question {
        padding-bottom: 15px;
    }

    &__answer {
        display: flex;
        justify-content: space-between;
        width: 30%;
        font-size: 16px;
    }
}

.form-check {
    display: inline-flex;
    align-items: center;
    padding-left: 10px;

    label {
        margin-left: 15px;
    }
}

.form-check-input {
    border: 1px solid red;
    width: 23px;
    height: 23px;
}

.form-check-input:focus {
    border-color: #F80000;
    box-shadow: 0 0 0 2px rgb(241, 72, 72);
    transition-property: box-shadow;
    transition-duration: 300ms;
    ;
}

.form-check-input:checked {
    background-color: #F80000;
    border: 1px solid #F80000;

}

.form-check-input:checked[type=radio] {
    background: radial-gradient(circle at center, #9F041B 30%, #F80000 50%, #fff 50%);
}

.fill-form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 50%;
    min-height: 200px;
    font-size: 12px;

    &__input {
        width: calc(50% - 15px);
        height: 50px;
        border: none;
        border-radius: 5px;
        padding-left: 15px;

        &:focus-visible {
            outline: none;
            box-shadow: 0 0 2px 2px #f83d3d;
        }
    }

    .btn-submit {
        width: 100%;
    }
}

.form-select {
    font-size: 12px;
}

.form-note {
    font-size: 11px;
    margin: 0 auto;
}



@media screen and (max-width: 991px) {
    .form {
        padding-top: 90px;
        flex-direction: column;

        &__notice {
            display: none;
        }
    }

    .choice {
        width: 100%;

        &__notice {
            display: block;
            position: absolute;
            top: 45px;
            left: 0;
            line-height: 30px;
        }
    }

    .advert {
        bottom: calc(100% - 30px);
        left: 0;

        &__price {
            left: calc(100% + 50px + 20px);
        }
    }

    .fill-form {
        flex-direction: row-reverse;
        width: 100%;



        &__input {
            margin-bottom: 10px;
        }
    }

    #nameInput {
        order: 1;
    }

    #surnameInput {
        order: 2;
    }

    #emailInput {
        order: 3;
        width: 100%;
    }

    #stateInput {
        order: 4;
        width: 100%;
    }

    .fill-form .btn-submit {
        order: 5;
    }

    .form-note {
        order: 6;
    }
}

@media screen and (max-width: 767px) {
    .form {
        width: 100%;
        margin-top: 30px;
    }

    .advert {
        left: 0;
        font-size: 14px;
        max-width: 70%;

        &__per {
            padding-right: 7px;
            padding-left: 10px;
            font-size: 26px;
        }

        &__guarantee {
            padding: 5px 0;
        }

        &__price {
            width: 90px;
            right: 0;
            font-size: 26px;
            height: 100%;

            span {
                font-size: 10px;
            }
        }
    }
}

@media screen and (max-width: 575px) {
    .advert {
        height: auto;
        font-size: 10px;
        bottom: calc(100% - 15px);
        width: 100%;

        &__per {
            font-size: 17px;

            &::after {
                top: 0;
                height: 100%;
            }
        }

        &__price {
            width: 50px;
            font-size: 17px;
            line-height: 15px;
            padding: 5px 0;
            left: calc(100% + 50px + 10px);

            span {
                font-size: 8px;
            }

            &::before {
                border-width: 10px 15px;
            }

            &::after {
                border-width: 10px 15px;
            }
        }
    }

    .form {
        font-size: 14px;
    }

    .choice-item {
        &__answer label {
            font-size: 16px;
        }
    }

    .fill-form {
        &__input {
            width: calc(50% - 7px);

        }
    }
}

@media screen and (max-width: 420px) {
    .advert {

        &__price {
            line-height: 20px;

            &::before {
                border-width: 15px 15px;
            }

            &::after {
                border-width: 13px 15px;
            }
        }
    }
}



/*section stages*/

.stages {
    padding: 80px 0;

    &__list {
        margin-top: 55px;
    }
}

.stages-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

    &__item {
        width: 250px;
        margin-bottom: 50px;

        &::after,
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 30%;
            width: 10px;
            height: 10px;
            border-bottom: 2px solid;
            border-right: 2px solid;
            transform: rotateZ(-45deg);
        }

        &::before {
            left: -7px;
        }

        &_grey {
            .stages-item__icon {
                background-color: rgba(219, 219, 219, 0.58);
            }

            .stages-item__title {
                color: #575C6B;
            }

            &::after,
            &::before {
                border-bottom-color: #575C6B;
                border-right-color: #575C6B;
            }
        }

        &_yellow {
            .stages-item__icon {
                background-color: rgba(255, 191, 0, 0.3);
            }

            .stages-item__title {
                color: #FFC300;
            }

            &::after,
            &::before {
                border-bottom-color: #FFC300;
                border-right-color: #FFC300;
            }
        }

        &_orange {
            .stages-item__icon {
                background-color: rgba(254, 175, 77, 0.53);
            }

            .stages-item__title {
                color: #FF7300;
            }

            &::after,
            &::before {
                border-bottom-color: #FF7300;
                border-right-color: #FF7300;
            }
        }
    }
}

.stages-item {
    position: relative;

    &__icon {
        position: relative;
        width: 78px;
        height: 78px;
        border-radius: 50%;
        background-color: rgba(219, 219, 219, 0.24);
        margin: 0 auto;

        img {
            position: absolute;
            top: calc(50% - 36px);
            left: calc(50% - 10px);
        }
    }

    &__title {
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        margin-top: 10px;
        text-align: center;
        letter-spacing: 0.73px;
        color: #B7B4B4;
    }

    &:first-child::before,
    &:first-child::after {
        display: none;
    }
}


@media screen and (max-width: 575px) {
    .stages__list {
        margin-top: 40px;
    }

    .stages-list {
        flex-flow: column nowrap;
        align-items: center;

        &__item {

            &::after,
            &::before {
                left: calc(50% - 5px);
                top: calc(100% + 10px);
                width: 10px;
                height: 10px;
                transform: rotateZ(45deg);
            }

            &::before {
                top: calc(100% + 10px + 7px);
            }
        }
    }

    .stages-item {
        &__title {
            font-size: 14px;
        }
    }
}


/*section freedom*/

@keyframes picture-shake {
    0% {
        transform: rotateZ(-5deg);
    }

    10% {
        transform: rotateZ(5deg);
    }

    20% {
        transform: rotateZ(-4deg);
    }

    30% {
        transform: rotateZ(4deg);
    }

    40% {
        transform: rotateZ(-3deg);
    }

    50% {
        transform: rotateZ(3deg);
    }

    60% {
        transform: rotateZ(-2deg);
    }

    70% {
        transform: rotateZ(2deg);
    }

    80% {
        transform: rotateZ(-1deg);
    }

    90% {
        transform: rotateZ(1deg);
    }

    100% {
        transform: rotateZ(0deg);
    }
}

.freedom {
    margin-top: 45px;
    padding-bottom: 130px;


    &__wrap {
        position: relative;
        margin-top: 40px;
    }



    .image {
        position: absolute;
        left: -125px;
        top: 0;
        z-index: 1;




        &__photo {
            position: absolute;
            top: 0;
            left: 0;

            &:hover {
                animation-name: picture-shake;
                animation-duration: 800ms;
                animation-iteration-count: infinite;
            }

            img {
                width: 100%;
            }
        }

        &__bg {
            position: absolute;
            left: 0;

            img {
                width: 100%;
            }
        }
    }

    &__benefits {
        width: 50%;
        margin-left: auto;
    }
}


@media screen and (max-width: 1400px) {
    .freedom {
        .image {
            max-width: 550px;
        }
    }
}

@media screen and (max-width: 767px) {
    .freedom {
        margin-top: 0;

        .image {
            max-width: 350px;
        }

        &__benefits {
            padding-top: 400px;
            width: 100%;
        }
    }
}





/*section social*/

.social {
    background-color: #E5E5E5;
    padding-bottom: 35px;

    &__title {
        padding: 35px 0;
    }

    .links {
        &__item {

            &:hover {
                transform: scale(1.05);
                filter: drop-shadow(2px 4px 2px rgb(46, 46, 46));
                transition-property: transform, filter;
                transition-duration: 300ms, 500ms;
            }
        }
    }
}


/*section online-divorce */

.online-divorce {
    position: relative;
    margin-top: 95px;

    &__title {
        padding-bottom: 45px;
    }

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;

        &_right {
            transform: rotateY(180deg);
            right: 0;
        }
    }

    &__wrap {
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
    }

    &__order {
        margin-left: 50px;
    }
}

.advantage {
    flex-basis: 50%;
}

.order {
    flex-basis: 50%;
    color: #fff;
    font-size: 16px;

    &__content {
        max-width: 470px;
        margin: 0 auto;
        padding: 25px 25px 35px 20px;
        background: linear-gradient(180deg, #FFA700 0%, #FF7A00 46.38%, #FF6E00 100%);
        border-radius: 5px;
    }

    &__logo {
        display: block;
        margin: 0 auto;
    }

    &__title {
        text-align: center;
        line-height: 30px;
    }

    &__descr {
        margin-bottom: 20px;
    }

    &__list {
        margin-bottom: 10px;
    }

    &__links {
        margin-top: 15px;
        justify-content: center;
    }

}


@media screen and (max-width: 1200px) {
    .online-divorce {
        &__wrap {
            flex-flow: column nowrap;
        }

        .advantage {
            margin: 0 auto;
        }

        .order {
            margin: 0 auto;
        }
    }
}

@media screen and (max-width: 660px) {
    .online-divorce {
        margin-top: 45px;

        &__image {
            display: none;
        }

        &__title {
            padding-bottom: 15px;
        }
    }
}




/*section commitment*/

.commitment {
    background-color: #F5F5F5;
    padding-top: 50px;

    &__subtitle {
        max-width: 850px;
        text-align: center;
        margin: 0 auto;
        padding-top: 10px;
    }
}

.commitment-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 35px 0;
}

.card {
    display: flex;
    flex-flow: row nowrap;
    background: none;
    margin-bottom: 40px;
    border: none;

    &__icon {
        width: 85px;
    }

    &__text {
        padding-left: 20px;
        max-width: 250px;
    }

    &__title {
        font-weight: 700;
        margin-bottom: 7px;
    }
}

@media screen and (max-width: 845px) {
    .card {
        min-width: 300px;

        &__icon {
            width: 50px;
        }

        &__text {
            padding-left: 40px;
            max-width: 100%;
            margin-left: 30px;
        }
    }
}

@media screen and (max-width: 575px) {
    .commitment {
        padding-top: 50px;

        &__subtitle {
            display: none;
        }
    }

    .card {
        min-width: 300px;

        &__text {
            font-size: 14px;
        }
    }
}


/*section review*/

$slide-margin: 15px;
$slide-width: 500px;
$slide-width-mini: 300px;


@function sliders-width($n) {
    @return $n * 2+2 * $slide-margin;
}

.review {
    padding-top: 70px;
    padding-bottom: 55px;

    &__link {
        text-align: center;
        margin-top: 35px;
    }
}

.slider {
    max-width: sliders-width($slide-width);
    margin: 0 auto;
    margin-top: 35px;
}

.card-review {
    width: $slide-width;
    margin: 0 $slide-margin;
    padding: 25px 25px 10px 35px;
    background-color: rgba(216, 216, 216, 0.28);
    border-radius: 7px;
    font-size: 14px;

    &__head {
        flex-grow: 1;
        display: flex;
        justify-content: space-between;
        align-items: start;
        margin-left: 20px;
        margin-bottom: 15px;
    }

    &__user {
        font-size: 18px;
        font-weight: 700;
    }

    &__date {
        font-size: 14px;
    }
}

.verified {
    text-align: right;
    color: #FF7100;
}


.review-link {
    text-decoration: none;
    color: rgb(235, 118, 8);
    font-size: 16px;
    font-weight: 700;

    &:hover {
        color: #555;
    }
}


.slick-prev,
.slick-next {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-bottom: 3px solid rgb(235, 118, 8);
    border-right: 3px solid rgb(235, 118, 8);

    &::before {
        content: '';
    }
}

.slick-next {
    transform: rotateZ(-45deg);
    right: -50px;
}

.slick-prev {
    transform: rotateZ(135deg);
    left: -50px;
}

.slick-dots li.slick-active button:before {
    opacity: 1;
    color: rgb(235, 118, 8);
}



@media screen and (max-width: 1200px) {
    .slider {
        max-width: sliders-width($slide-width-mini);
    }

    .card-review {
        width: $slide-width-mini;
    }
}

@media screen and (max-width: 850px) {
    .slider {
        max-width: sliders-width($slide-width-mini);
    }

    .card-review {
        width: $slide-width-mini;
    }
}

@media screen and (max-width: 574px) {
    .card-review {
        font-size: 13px;
    }
}


/*section footer*/

.footer {
    background-color: rgba(144, 149, 164, 1);
    color: #fff;
    font-size: 12px;
    padding-bottom: 30px;
    padding-top: 10px;

    a {
        text-decoration: none;
        color: #fff;
    }

    &__nav {
        margin-bottom: 10px;
        box-shadow: none;
    }

    .login {
        text-decoration: underline;
    }

    &__map {
        margin: 12px 0;
    }

    &__copyright {
        margin-bottom: 11px;
    }
}


.contacts {
    display: flex;
    margin-bottom: 35px;

    &__adress {
        max-width: 30%;

        span {
            font-weight: 700;
        }
    }

    &__tel {
        display: flex;
        flex-flow: column nowrap;
        margin-left: 50px;

        a:first-child {
            font-weight: 700;
        }
    }
}

.cities {
    display: flex;
    flex-flow: column wrap;
    max-height: 150px;
    padding-bottom: 20px;
    border-bottom: 1px solid #fff;
}

.link-city {
    margin-right: 15px;
}

@media screen and (max-width: 1200px) {
    .cities {
        max-height: 260px;
    }
}

@media screen and (max-width: 767px) {
    .contacts {
        &__adress {
            max-width: 50%;
        }
    }

    .cities {
        max-height: 350px;
    }
}

@media screen and (max-width: 575px) {
    .footer {
        font-size: 10px;

        .btn {
            display: none;
        }

        &__nav {
            margin-bottom: 0;
        }
    }

    .contacts {
        flex-direction: column;
        border-bottom: 1px solid #fff;
        border-top: 1px solid #fff;
        padding: 20px 0;


        &__tel {
            margin-left: 0;
            margin-top: 15px;
        }
    }

    .cities {
        max-height: 500px;
        border-bottom: none;
    }
}


/*font-awesome*/

.fa {
    color: rgba(255, 109, 0, 1);
}

.fa.star-inactive {
    color: #888;
}

.check-circle-reg {
    font-weight: 300;
    font-size: 16px;
}

.flag_orange {
    color: rgba(255, 109, 0, 1);
    font-size: 20px;
}